/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* User show page */

img.gravatar {
  background: #ffffff;
  border: 1px solid #ddd;
  padding: 4px;
  margin-bottom: 0px;
  -moz-border-radius:    6px;
  -webkit-border-radius: 6px;
  border-radius:         6px;
  -moz-box-shadow: 2px 2px 2px #dddddd;
  -webkit-box-shadow: 2px 2px 2px #dddddd;
} 